<h1>Task List</h1>

<% if @lists.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>メッセージ</th>
      </tr>
    </thead>
    <tbody>
      
<% @lists.each do |list| %>

        <tr>
          <td>
<%= link_to list.id, list %>
</td>
          <td>
<%= list.status %>
</td>
          <td>
<%= list.content %>
</td>
        </tr>
      
<% end %>

    </tbody>
  </table>
  <div>
    
<%= paginate @lists %>

  </div>
<% end %>


<%= link_to '新規メッセージの投稿', new_list_path, class: "btn btn-primary" %>