<h1>id = 
<%= @list.id %>
 のメッセージ詳細ページ</h1>

<p>タイトル
<%= @list.status %>
</p>

<p>メッセージ
<%= @list.content %>
</p>

<%= link_to '一覧に戻る', root_path %>

<%= link_to 'このメッセージを編集する', edit_list_path(@list) %>

<%= link_to 'このメッセージを削除する', @list, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>